# Temp file
*~
~*
\#*
*#
\#*\#
.\#*

# Compilation files
*.o
*.out
*.a
*.d

# Visual studio code
.vscode
launch.json
build

# Mac
.DS_Store

# CLion
.idea/
cmake-build-debug/

# Meson
builddir/

#Python
venv/

debug.sh
/tests/integration_test/42SH
/src/xfnmatch/

test

tst

tests/integration_test/test.txt

4

ya

test.txt

tests/integration_test/env/
tests/integration_test/trash/
tests/integration_test/42*